<ion-header>
  <ion-navbar>
    <ion-title>
      Inmuebles en renta
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor= "let inmueble of inmuebles" col-5>
        <ion-card>
          <img *ngIf ="inmueble.hasOwnProperty('pictures')"
                src= {{inmueble.pictures[0].url}}>
        </ion-card>
        <h2 *ngIf= "inmueble.hasOwnProperty('price')">
          {{inmueble.price.formattedAmount}}
        </h2>
        <P>
          {{inmueble.geo.map.displayName}}, {{inmueble.geo.name}}
        </P>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
